/* Selector Universal */
* {
    padding: 0;
    margin: 0;
}

/* Selector de Etiqueta */
body {
    background-color: #f1ecea;
    color: white;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

/* Selecto de Clases */
.texto {
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    padding: 25px 25px;
    color: white;
}

img {
    width: 100px;
    height: 100px;
    border: 2px solid;
    margin: 0 5px;
    justify-items: center;
}

.encabezado-articulo {
    padding: 18px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 1em 1em;
    border-radius: 75px;
}

.encabezado-aside {
    padding: 50px 10px;
    text-align: center; 
    background-color: #3a251c;
    color: white;
    margin: 1em 1em;
    border-radius: 45px;
    
}

.menu-aside {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 25px 25px;
}

.lista-aside {
    padding: 0.5px;
    text-align: center;
}

.lista-aside li {
    display: block;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 0 2px;
    list-style: square;
    color: white;
}

.textDecoration{
    text-decoration: underline;
    color: white;
}

.guionColor{
    color: white;
}
/* Selector Id */
#contenedor {
    width: 900px;
    height: auto;
    background-color: #b58c7c;
    max-width: 0 auto;
    border-radius: 10px;
}

#encabezado {
    height: 15%;
    width: 30%;
    background-color: #3a251c;
    margin: 1em;
    border-radius: 15px;
    padding: 0px 303px;
}

#menu {
    height: 5%;
    background-color: #b46424;
    margin: 1em;
    border-radius: 5px;


}

#contenido {
    height: 500%;
    width: 50%;
    background-color: #362f2f;
    margin: 0.5em;
    display: inline-table;
    text-align: center;

}

#fueraSeccion {
    height: 75%;
    width: 35%;
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
}

#pie {
    height: 10%;
    background-color: #3a251c;
    margin: 0.5em;
    text-align: center;
    padding: 5px;
}

#pie h4 {
    padding: 15px;
    font-size: 30px;
}

/* Selector de Etiqueta */

ul {
    text-align: center;
    list-style: none;
}

li {
    display: inline;
    margin: 5px;
}

li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
}