/* Selector Universal */
* {
    padding: 0;
    margin: 0;
}

/* Selector de Etiqueta */
body {
    background-image: url(/img/mazatlan08.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

/* Selecto de Clases */
.texto {
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    padding: 25px 25px;
    color: white;
}

img {
    width: 320px;
    height: 240px;
    border: 2px solid;
    margin: 0 5px;
    justify-items: center;
}

.encabezado-articulo {
    padding: 0  px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 0em;
    border-radius: 0%;
}

.menu-aside {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0px;
    padding: 0px 0px;
}

.lista-aside {
    padding: px;
    text-align: center;
}

.lista-aside li {
    display: block;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    padding: 0 2px;
    list-style: square;
    color: white;
}

.textDecoration{
    text-decoration: underline;
    color: white;
}

.guionColor{
    color: white;
}
/* Selector Id */
#contenedor {
    width: 900px;
    height: auto;
    background-color: #846599;
    max-width: 0 auto;
    border-radius: 10px;
}

#encabezado {
    height: 10%;
    width: 25%;
    background-color: #41016b;
    margin: 0em;
    border-radius: 0%;
    padding: 15px 337px;
}

#menu {
    height: 5%;
    background-color: #000000;
    margin: 0%;
    border-radius: 0%;


}

#contenido {
    height: 500%;
    width: 50%;
    background-color: #41016b;
    margin: 0.5em;
    display: inline-table;
    text-align: center;

}

#fueraSeccion {
    height: 75%;
    width: 40%;
    background-color: #41016b;
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
}

#pie {
    height: 20%;
    background-color: #41016b;
    margin: 0.5em;
    text-align: center;
    padding: 0px;
}

#pie h4 {
    padding: 15px;
    font-size: 30px;
}

/* Selector de Etiqueta */

ul {
    text-align: center;
    list-style: none;
}

li {
    display: inline;
    margin: 5px;
}

li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
}